

<footer class="bg-white border-t border-gray-200 bottom-0 left-0 w-full">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
      <div class="sm:flex sm:items-center sm:justify-between">
          <img src="../../../assets/UTFPR_logo.svg" class="h-8" alt="UTFPR logo" />
          <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0">
              <li>
                  <a href="#" class="hover:underline me-4 md:me-6">Sobre</a>
              </li>
              <li>
                  <a href="#" class="hover:underline me-4 md:me-6">Política de Privacidade</a>
              </li>
              <li>
                  <a href="#" class="hover:underline me-4 md:me-6">Licenças</a>
              </li>
              <li>
                  <a href="#" class="hover:underline">Contato</a>
              </li>
          </ul>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
      <span class="block text-sm text-gray-500 sm:text-center">© 2023 UTFPR - Universidade Tecnológica do Paraná</span>
      <span class="block text-sm text-gray-500 sm:text-center">Todos os direitos reservados</span>
  </div>
</footer>

